.clearfix
  h2.name(ng-show = 'ui.status != "editing"') {{watch.name}}
  .status.btn-group
    button.btn.btn-small(ng-click = 'ui.status == "editing" ? save() : toggleDetails()', ng-class = 'ui.status == "editing" ? "btn-primary" : null', ng-disabled = '!watch.name.trim().length') {{actionText()}}
    button.btn.btn-small(ng-click = 'toggleEdit()', ng-disabled = 'ui.busy')
      i(ng-class = 'ui.status != "editing" ? "icon-edit" : "icon-ban-circle"')
    button.btn.btn-small.dropdown-toggle(data-toggle = 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.destroy(ng-click = 'destroy()') Delete
  form.form-inline(ng-show = 'ui.status == "editing"')
    input.name.input-xlarge(type = 'text', ng-model = 'watch.name')
    select.interval.input-small(ng-model = 'watch.interval', ng-options = 'i.value as "watch.interval." + i.name|t for i in watchIntervals')
.details(ng-show = 'ui.detailed', ng-animate = '{show: "slide-open", hide: "slide-close"}')
  p.url
    code http://localhost:3000/{{watch.token}}
  p.lastPingedAt {{lastPingedAt()}}
