h2.title {{title}}
.status
  .btn-group
    button.btn Action
    button.btn.dropdown-toggle(data-toggle = 'dropdown')
      span.caret
    ul.dropdown-menu
      li
        a.delete(href = '#') Delete
br
.details
  p.url
    code http://localhost:3000/{{token}}
