extends layout

block body
  #app(ng-init = 'watches = ' + JSON.stringify(watches), data-translations = JSON.stringify(t('templates', { returnObjectTrees : true })))
    h1
      a(href = '/')= t('title')
    .container
      .row-fluid
        .span8.offset2
          #watches(ng-controller = 'WatchesController')
            p.info
            include _newWatchForm
            .watches
              include _watch
