extends layout

block body
  #app(ng-init = 'watches = ' + JSON.stringify(watches))
    h1
      a(href = '/') {{'title'|t}}
    .container
      .row-fluid
        .span8.offset2
          #watches(ng-controller = 'WatchesController')
            p.info
            include _newWatchForm
            .watches
              .watch(ng-repeat = 'watch in watches', ng-controller = 'WatchController', ng-class = 'watch|watchClass:uiStatus')
                include _watch
