doctype 5
html(ng-app = 'doa')
  head(ng-init = 'translations = ' + JSON.stringify(translations))
    title {{'title'|t}}
    != css('style')
    != js('app')
    link(href = 'http://fonts.googleapis.com/css?family=Denk+One', rel = 'stylesheet', type = 'text/css')
  body
    block body
