h2.title {{title}}
.status
  .btn-group
    a.btn.dropdown-toggle(data-toggle = 'dropdown', href = '#')
      | Action 
      span.caret
    ul.dropdown-menu
      li
        a.delete(href = '#') Delete
br
