extends layout

block content
  #watches
    each watch in watches
      .watch(class = watch.status)
        .title
          = watch.title
        .status
          = t('watch.status.' + watch.status)
        br
