extends layout

block content
  .container
    p#info Lorem ipsum dolor sit amet
    #watches
      form.form-inline.new(action = '/api/watches', method='POST')
        input.name.input-xlarge(type = 'text', placeholder = t('watch.titlePlaceholder'))
        button.submit.btn.btn-primary(type = 'submit', disabled='disabled')= t('watch.save')
      each watch in watches
        .watch(class = watch.status)
          .title
            = watch.title
          .status
            = t('watch.status.' + watch.status)
          br
