extends layout

block body
  body(data-watches = watches)
    h1
      a(href = '/')= t('title')
    script#template-app(type = 'text/template')
      include _app
    script#template-watches(type = 'text/template')
      include _watches
    script#template-watch(type = 'text/template')
      include _watch
